<div class="form-group">
    <input type="text" placeholder="Tür" class="form-control" id="text" name="text"/>
</div>
<div class="form-group">
    <input type="text" placeholder="Boyut" class="form-control" id="text1" name="text" />
</div>
<div class="form-group">
    <input type="text" placeholder="Adet" class="form-control" id="text2" name="text" />
</div>